body {
    background: #eeeeee;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 204, 255);
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 60%;
    margin: auto auto;
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
    border: 2px solid #ccc;
}

button.add {
    width: 20%;
    cursor: pointer;
    background: rgb(8, 238, 8);
    color: #fff;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    margin: auto auto;
    padding-top: 40px;
    color: rgb(0, 204, 255);
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 1%;
    background: #fff;
    cursor: pointer;
}

.item.clicado {
    background: #d4f6d9;
    color: rgb(189, 189, 189);  
}

.item.clicado .item-nome {
    text-decoration: line-through;
}

.item-icone {
    flex: 20%;
    text-align: center;
    font-size: 2rem;
}

.item.clicado .item-icone {
    color: rgb(8, 238, 8);  
}

.item-nome {
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
}

.item-botao {
    flex: 25%;
}

.delete {
    background: rgb(255, 0, 0);
    color: #fff;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.fa-regular.fa-circle-check {
    color: rgb(0, 128, 0);  
}